h1, h2{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#headshot{
    border: 1px solid #808080;
    padding: 2px;
    margin: 8px;
    border-radius: 8px;
    max-width: 50px;
}

.experience{
    border: inset 1px;
    margin-bottom: 4px;
    padding: 4px;
    background-color: white;
    color: #222;
}

.experience .title{
    font-weight: bold;
}

footer{
    background-color: #202020;
    color: lightblue;
    text-align: center;
    padding: 2px;
    position: fixed;
    left: 0;
    bottom: 0;
}

#menu{
    display: inline;
    padding: 8px;
    background-color: darkgray;
}

#menu li a{
    color: white;
    text-decoration: none;
}

#menu li.active{
    background-color: darkslateblue;
}

header #headshot, header #siteName, header #menu{
    display: inline;
    vertical-align: top;
}